%h2 Your linked accounts
%ul.authentications
  - @authentications.each do |authentication|
    = render :partial => 'authentication', :object => authentication

%h2 Link your account with:
%ul.available_authentications
  = render :partial => "authentication_type", :collection => [:facebook, :twitter]
