- content_for(:exhibit) do
  = stylesheet_link_tag("fish")
  = javascript_include_tag("http://api.simile-widgets.org/exhibit/2.2.0/exhibit-api.js")
%table{"ex:role" => "lens"}
  %tr
    %td
      %a{"ex:href-content" => ".speciesURI", "ex:content" => ".species"}
  %tr
    %td
      %div{"ex:content" => ".label"}
