= form_for(@user, :url => fish_files_file_path, :html => {:method => :put, :multipart => true}) do |f|
  = f.label :fish_file
  = f.file_field :fish_file
  = f.submit "Upload"                            
